.information{
  border:2px solid red;
  width: 300px;
  color:white;
  position: absolute;
    top:150px;
    left:200px;
  background-image: linear-gradient(to bottom ,rgb(6, 241, 245),rgb(11, 112, 228));
  -webkit-background-clip: text;
  background-clip:text;
}
.first-line{
  color:transparent;
  font-size: 20px;
  font-weight: 600;
}